
header a{
    color: black;                          /*For black-text of the navigation bar*/
}
section{
    margin-bottom: 100px;                    /*This will add extra bottom margin after every section*/
}

.buy-now-button{
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 25px;
}
#products .row{
    margin-bottom: 20px;
}
.see-all{
    text-decoration: none;
    color: orange;
    font-size: 125%;
}
.card{
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    box-shadow: 1px 1px 20px lightgrey;
}
.catagories{
    text-align: center;
}

.catagories:after{
    display: block;
    content: "";
    border: none;
    border-radius: 100px;
    height: 5px;
    width: 100px;
    background-image: linear-gradient(to right, orange, rgb(212, 92, 13));
    margin: 10px auto;
}
.cat{
    margin: auto 0;            /* All catagories product will centerize */
}